﻿<div>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label>Latitude</label>
                    <input type="text" data-ng-model="latitude" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Longitude</label>
                    <input type="text" data-ng-model="longitude" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Category of Shop</label>
                    <input type="text" data-ng-model="query" class="form-control"/>
                </div>
                <div class="form-group">
                    <br/>
                    <button class="btn btn-default" data-ng-click="onStoreFindClick()">Search</button>
                </div>
                
            </form>
        </div>
    </div>
    
    <br/>
    
    <div class="gridStyle" data-ng-grid="storesGrid"></div>
</div>